*{
    box-sizing: border-box;
}
#submit{
    height: 50px;
    width: 50px;
    background-color: orange;
    color: white;
    border: 1px solid white;
}
#popup1{
    display: flex;
    align-items: center;
    justify-content: center;
}